@use './breakpoints.scss' as *;

.loginWrapper{
    height: 100vh;
    width: 50vw;
    justify-content: end;
    
    @include down('md') {
        width: 100vw;
    }
}

.loginHeader{
    margin-top: 2rem;
    @include down('md') {
        padding: 0 1.4rem;
    }
}

.loginContainer {
    width: 100%;
    margin: 0 auto;
    min-height: 72%;
    gap: 4rem;
    @include down('md') {
        min-height: 70%;
        gap: 8rem;
    }
}
