@use './breakpoints.scss' as *;

.filterMenuButton{
    font-size: 1.8rem;
    @include down('sm'){
        font-size: 1.5rem;
    }
}

.filterMenuBar{
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(141, 146, 220, 0.606);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    @include down('sm'){
        padding: 0.8rem;
    }
}

.explorePageContainer{
    padding: 2rem;

    @include down('sm'){
        padding: 1rem;
    }
}

.exploreCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2.2rem;
    margin-top: 2rem;
    overflow-y: scroll;
    padding: 0 1rem;

    @include down('md'){
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}