@import './breakpoints.scss';

.heroSectionContainer{
    padding: 1rem;
    @include up('md'){
        padding:3rem;
    }
}

.heroHiddenImageSection{
    width: 60%;
    @include down('md'){
        display:none;
    }
}

.landingCardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;

}

.nearbyEventsSection{
    padding:0 5rem ;

    @include down('md'){
        width: 100vw;
        padding: 0 2rem;
    }

    .previewCardContainer{
        display: flex;
        gap: 3rem;
        @include down('md'){
            flex-direction: column;
            overflow-x: scroll;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
        }
    }
}